@import url("https://fonts.googleapis.com/css@?family=Source+Sans+Pro:wght@600&display=swap");

html {
    background-color: #ACC8E5;
    color: #25252A;
    font-family: "Source Sans Pro", sans-serif;
}